{% extends 'Customer/navbar.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
<title>GoodRecipe Amending Account</title>
{% endblock title %}

{% block content %}
<div class = "back">
    <div class="Logo-Container">
        <div class="Logo">
            <h1><img src="{% static 'img/GoodLogo2.png' %}" width=100%></h1>
        </div>
    </div>
    <div class="center">
        <h1>Amend Account</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if userForm.errors %}
            <div class="errors">
                {{userForm.errors}}
                {{userForm2.errors}}
            </div>
            <br>
            {% endif %}
            <div class="txt_field">
                <label>Email / Username</label>
                <br>

                {{userForm.username}}
            </div>

            <div class="txt_field">
                <label>First Name</label>
                <br>
                {{userForm.first_name}}
            </div>  
            
            <div class="txt_field">
                <label>Surname</label>
                <br>
                {{userForm.last_name}}
            </div>

            <div class="txt_field">
                <label>Phone Number</label>
                <br>
                {{userForm2.phone}}
            </div>
            <br>
            <div class="txt_field">
                <label>Password</label>
                <br>
                {{userForm.password1}}
            </div>

            <div class="txt_field">
                <label>Re-enter Password</label>
                <br>
                {{userForm.password2}}
            </div>
            <br>
            <br>

            <input type="submit" value="Save Changes">
            <br>
            <br>
            <br>
        </form>
    </div>
</div>

{% endblock content %}








{% block style %}
<style>
    .back{
        position: absolute;
        width:99%;
        height: 94%;
        background: #f8f8f1;
        border-radius: 1rem;
        margin: 0.9% 0 0 0;
        overflow: auto;
    }
    .center{
        position: absolute;
        padding: 30px 100px 30px 100px;
        max-width: 500px;
        width: 40%;
        margin: 2% 30% 2% 30%;
        background: #DECBA4;
        border-radius: 1rem;
        border: 10px solid #31820f;
        background: #DECBA4;
        overflow: auto;
    }
    .Logo-Container{
        background-color: #fff;
        width: 100%;
        padding-top: 0.5px;
    }
    .Logo{
        text-align: center;
        background-color: #fff;
        border-bottom: 1px solid rgb(255, 255, 255);
        margin: 2px 50% 2px 45%;
        width:100%;
        max-width: 200px;
    }
    .center h1{
        text-align: center;
        padding: 0 0 20px 0;
        color: #0c5f5f;
        border-bottom: 1px solid #0c5f5f;
    }
    .center form{
        padding: 0 40px;
        box-sizing: border-box;
    }
    form .txt_field{
        position: relative;
        border-bottom: 2px solid #31820f;
        margin: 30px 0;
    }

    .txt_field input{
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        color: #ffffff;
        border: none;
        background: none;
        outline: none;
    }

    .txt_field label{
        position: absolute;
        top: 30%;
        left: 5px;
        color: #0c5f5f;
        transform: translateY(-70%);
        font-size: 16px;
        transition: .5s;
    }


    .center input[type="submit"]{
        width: 180px;
        height: 40px;
        border: 0px solid;
        background: #31820f;
        border-radius: 25px;
        font-size: 15px;
        color: #ffffff;
        font-weight: 700;
        cursor: pointer;
        margin-left: 55%;
    }
    .signup_link{
        margin: 30px 0;
        text-align: center;
        font-size: 16px;
        color: #ffffff;
    }
    .signup_link a{
        color: #ffffff;
    }
    form p{
        position: relative;
        border-bottom: 2px solid #ffffff;
        margin: 10px 0;
    }
    p input{
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        color: #ffffff;
        border: none;
        background: none;
        outline: none;
    }
    p label{
        position: absolute;
        top: 1%;
        left: 5px;
        color: #ffffff;
        transform: translateY(-50%);
        font-size: 16px;
        transition: .5s;
    }
    p input:focus ~ label,
    p input:valid ~ label{
        top: -5px;
        color: #ff0000;
    }
    .center::-webkit-scrollbar{
        display: none;
    }

    @media screen and (max-width: 2000px) {
        .center {
            margin: 2% 25% 2% 25%;
        }
    }
</style>
{% endblock style %}